.spec .spec1 {
    display: flex;
    height: 340px;
    width: 1190px;
    margin: 20px auto ;
}
.spec .nice-goods {
    display: flex;
    height: 260px;
    width: 1190px;
    margin:0px auto;
}
.spec .spec2 {
    height: 340px;
    width: 1190px;
    margin: 20px auto;
    background-color: khaki;
}
.nice-goods .nicegoods-left {
    display: flex;
    justify-content: center;
    background-image: url(../images/nicegoods-left-image.png);
    width: 190px;
    height: 100%;
}
.nice-goods .nicegoods-left .nicegoods-logo {
    background-image: url(../images/nicegoods-logo.png);
    width: 160px;
    height: 90px;
    margin-top: 15px;
}
.nice-goods .nicegoods-left .nicegoods-logo .nicegoods-logo-text {
    color: rgba(255,255,255,.8);
    font-size: 16px;
    padding-top: 55px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.nice-goods .nicegoods-left:hover i {
    border-radius: 16px;
    background-color: red;
}
.nice-goods .nicegoods-left i {
    transition: all 0.3s ease;
}
.nice-goods .nicegoods-right {
    position: relative;
    height: 100%;
    width: 990px;
    background-color: #fff;
    overflow: hidden;
    margin-left: 10px;
}
.nice-goods .nicegoods-right .nicegoods-scroll .scroll-item {
    display: inline-block;
    margin-top: 20px;
    margin-right: 50px;
    width: 150px;
}
.nice-goods .nicegoods-right .nicegoods-scroll .scroll-item img {
    width: 100%;
    height: 150px;
    transition: all 0.3s ease;
}
.nice-goods .nicegoods-right .nicegoods-scroll .scroll-item .scroll-names {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    transition: all 0.3s ease;
}
@keyframes scroll {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1025px);
    }
}
.nice-goods .nicegoods-right .nicegoods-scroll {
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    white-space: nowrap;
}
.nice-goods .nicegoods-right .nicegoods-scroll:hover {
    animation-play-state:paused;
}
.nice-goods .nicegoods-right a:hover {
    filter: brightness(120%);
    color: red;
}
.nice-goods .nicegoods-right .scroll-bar {
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: calc(100% - 30px);
    height: 3px;
    border-radius: 3px;
    background-color: #f3f3f3;
    display: none;
}
.nice-goods .nicegoods-right .nicegoods-scroll:hover + .scroll-bar, .scroll-points {
    display: block;
}
/* .nice-goods .nicegoods-right .scroll-bar .scroll-points {
    width: 99px;
    height: 9px;
    border-radius: 4px;
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    margin-top: -4.5px;
    display: none;
} */
.spec1-left {
    position: relative;
    height: 100%;
    width: 590px;
    margin-right: 10px;
    background-color: #fff;
}
.spec1-right {
    height: 100%;
    width: 590px;
    background-color: rgb(28, 189, 50);
}
.spec1-left .hd {
    height: 60px;
    padding: 12px 20px 0 20px;
}
.hd a {
    display: flex;
    height: 32px;
}
.hd h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-right: 5px;
}
.hd i {
    line-height: 32px;
}
.hd a:hover i {
    color: red;
}
.spec1-left .bd {
    position: relative;
    width: 560px;
    height: 270px;
    margin: 0 15px;
}
.bd .inner {
    display: flex;
    position: absolute;
    visibility: hidden;
}
.bd .emerge {
    visibility: visible;
}
.inner a {
    display: block;
    width: 170px;
    height: 220.4px;
    margin-right: 6px;
}
.inner .left img {
    height: 100%;
    width: 100%;
}
.inner .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 18px 0 0 19px;

}
.inner .right .right-items {
    width: 170px;
    height: 89px;
}
.inner .right-items a {
    display: block;
    width: 100%;
    height: 100%;
}
.inner .right-items a img {
    width: 100%;
    height: 100%;
}
.spec1-left .bd-head {
    position: absolute;
    right: 15px;
    top: 19px;
}
.spec1-left .bd-head a {
    display: inline-block;
    margin: 0 13.5px;
    font-size: 14px;
    color: #999;
}

.spec1-left .bd-head a:hover {
    text-decoration: underline;
    color: red;
}
