@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?nrwgdv');
  src:  url('icomoon.eot?nrwgdv#iefix') format('embedded-opentype'),
    url('icomoon.ttf?nrwgdv') format('truetype'),
    url('icomoon.woff?nrwgdv') format('woff'),
    url('icomoon.svg?nrwgdv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-down:before {
  content: "\e900";
}
.icon-cheveron-left:before {
  content: "\e901";
}
.icon-cheveron-right:before {
  content: "\e902";
}
.icon-cheveron-up:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-location2:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e986";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-full-moon:before {
  content: "\e904";
}
